<div class="rounded-[10px] px-[30px] pt-5 pb-1.5">
  <table class="text-black w-full">
    <thead class="">
      <tr
        class="*:text-left *:uppercase *:font-normal space-x-10 *:py-2.5 border-b border-greylight"
      >
        <th class="pl-[30px]">Дата Создания</th>
        <th>Исполнитель</th>
        <th>Приоритет задачи</th>
        <th>Название задачи</th>
        <th class="pr-[30px]">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @for(item of (taskList$ | async | sortBy : ((sortBy$ | async)?.value ||
      '')); track item.id) {
      <app-task-item
        [task]="item"
        [isLast]="$last"
        class="contents"
        (click)="openTask(item.id)"
      />
      }
      <tr>
        <td class="px-[30px] py-5 space-x-10 text-right" colspan="5">
          <span>
            {{ currentPage() === 1 ? 1 : (currentPage() - 1) * 10 + 1 }}
            -
            {{ ((taskList$ | async)?.length || 0) + (currentPage() - 1) * 10 }}
            из
            {{ totalItems }}
          </span>
          <div class="space-x-5 inline-block">
            <button
              [disabled]="currentPage() <= 1"
              class="align-middle text-black"
              [class]="{ 'text-grey': currentPage() <= 1 }"
              (click)="onPrev()"
            >
              <svg-icon src="assets/icons/chevron-left.svg" />
            </button>
            <button
              [disabled]="currentPage() >= totalPages"
              class="align-middle text-black"
              [class]="{ 'text-grey': currentPage() >= totalPages }"
              (click)="onNext()"
            >
              <svg-icon src="assets/icons/chevron-right.svg" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
