<div class="grid grid-cols-3 gap-5 place-content-center p-5">
  <div>
    <p>Badges:</p>
    <div class="space-y-3 flex flex-col">
      <app-badge [variant]="'Высокий' | badge">Высокий</app-badge>
      <app-badge [variant]="'Средний' | badge">Средний</app-badge>
      <app-badge [variant]="'Низкий' | badge">Низкий</app-badge>
    </div>
  </div>

  <div>
    <p>Buttons:</p>

    <div class="space-x-3 flex">
      <div class="flex flex-col space-y-2">
        <app-button variant="outline">Кнопка</app-button>
        <app-button>Кнопка</app-button>
        <app-button disabled>Кнопка</app-button>
      </div>

      <div class="flex flex-col space-y-2">
        <app-button withIcon variant="outline">
          <span>Кнопка</span>
          <svg-icon src="assets/icons/settings.svg" />
        </app-button>

        <app-button withIcon>
          <span>Кнопка</span>
          <svg-icon src="assets/icons/settings.svg" />
        </app-button>

        <app-button withIcon disabled>
          <span>Кнопка</span>
          <svg-icon src="assets/icons/settings.svg" />
        </app-button>
      </div>
    </div>
  </div>

  <div class="p-3">
    <p>Inputs:</p>

    <div class="*:block space-y-3">
      <app-input required label="Label" />

      <app-input required disabled label="Disabled" variant="outline" />

      <app-input
        required
        variant="outline"
        label="Example"
        placeholder="Placeholder"
      >
        <svg-icon src="assets/icons/settings.svg" />
      </app-input>

      <app-input
        variant="outline"
        error="Error message"
        label="Email"
        value="test@123"
      >
        <svg-icon src="assets/icons/settings.svg" />
      </app-input>
    </div>
  </div>

  <div>
    <div>
      <app-select
        standalone
        value="Standalone variant"
        [options]="[
          { value: 'random', displayName: 'Test 1' },
          { value: 'option', displayName: 'Option 1' },
          { value: 'finish', displayName: 'Last 1' }
        ]"
      />
    </div>

    <div>
      <app-select
        placeholder="Placeholder"
        label="Label"
        required
        [options]="[
          { value: 'random', displayName: 'Test 1' },
          { value: 'option', displayName: 'Option 1' },
          { value: 'finish', displayName: 'Last 1' }
        ]"
      />
    </div>
  </div>

  <div>
    <app-radio-group
      label="Приоритет задачи"
      groupName="ui-demo"
      [options]="[
  {
    displayName: 'Высокий',
    value: 'high',
    color: 'peer-checked:after:bg-ax-red border-ax-red',
  },
  {
    displayName: 'Средний',
    value: 'medium',
    color: 'peer-checked:after:bg-ax-orange border-ax-orange',
  },
  {
    displayName: 'Низкий',
    value: 'low',
    color: 'peer-checked:after:bg-ax-blue border-ax-blue',
  },
  ]"
    />
  </div>

  <div>
    <app-input-calendar label="Дата создания" />
  </div>
</div>
