@switch (variant()) { @case('primary') {
<div class="flex flex-col" [formGroup]="form()">
  <label [for]="bind()" class="mb-2">
    {{ label() }}@if(required()) {
    <span class="text-ax-blue">*</span>
    }
  </label>
  @if(type() === 'textarea') {
  <textarea
    [class]="variantClass"
    [formControlName]="controlName() || null"
    class="outline-none resize-none"
    [id]="bind()"
    [required]="required()"
    [placeholder]="placeholder()"
    name=""
    cols="10"
    rows="5"
  ></textarea>
  } @else {
  <input
    [formControlName]="controlName() || null"
    [id]="bind()"
    [type]="type()"
    [placeholder]="placeholder()"
    [pattern]="pattern()"
    [required]="required()"
    [class]="variantClass"
    class="outline-none"
  />
  }
</div>
} @case('outline') {
<div class="relative rounded-t bg-white pt-5" [formGroup]="form()">
  @if(type() === 'textarea') {
  <textarea
    class="outline-none resize-none"
    [id]="bind()"
    [required]="required()"
    [formControlName]="controlName() || null"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [class]="
      [
        variantClass,
        error() ? 'placeholder-shown:border-ax-red border-ax-red' : ''
      ] | cn
    "
    name=""
    cols="10"
    rows="5"
  ></textarea>
  } @else {
  <input
    [id]="bind()"
    [type]="type()"
    [pattern]="pattern()"
    [required]="required()"
    [disabled]="disabled()"
    [placeholder]="placeholder()"
    [formControlName]="controlName() || null"
    [class]="
      [
        variantClass,
        error() ? 'placeholder-shown:border-ax-red border-ax-red' : ''
      ] | cn
    "
  />
  }

  <label
    [for]="bind()"
    [class]="
      [
        labelClass,
        error()
          ? 'after:border-ax-red peer-placeholder-shown:text-ax-red peer-focus:text-ax-red text-ax-red'
          : ''
      ] | cn
    "
  >
    {{ label() }}@if(required()) {
    <span class="text-ax-blue">*</span>
    }
  </label>
  <button
    (click)="iconClick.emit()"
    class="absolute right-0 top-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <ng-content select="[icon]" />
  </button>
</div>
@if(error()) {
<span class="pl-3 text-xs text-ax-red">{{ error() }}</span>
} } }
